.navbar {
    padding-bottom: 50px;
}

.dropdown {
    position:relative;
    display:inline-block;
}

.content {
    display: none;
    position: absolute;
    min-width: 200px;
}

.content a {
    display: block;
}

.dropdown:hover .content {
    display: block;
}